<head>
    <link rel="stylesheet" href="footer.component.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>  
  
  <body>
  <!--  FOOTER START -->
    
  <div class="footer">
    <div class="inner-footer">
  
  <!--  for company name and description -->
      <div class="footer-items">
        <h1>Better Omagle</h1>
        <p>Description</p>
      </div>
  
  <!--  for quick links  -->
      <div class="footer-items">
        <h3>Quick Links</h3>
        <div class="border1"></div> <!--for the underline -->
          <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>Search</li></a>
            <a href="#"><li>Contact</li></a>
            <a href="#"><li>About</li></a>
          </ul>
      </div>
  
  <!--  for some other links -->
      <div class="footer-items">
        <h3>More Links</h3>
        <div class="border1"></div>  <!--for the underline -->
          <ul>
            
          </ul>
      </div>
  
  <!--  for contact us info -->
      <div class="footer-items">
        <h3>Contact us</h3>
        <div class="border1"></div>
          <ul>
            <li><i class="fa fa-map-marker" aria-hidden="true"></i>XYZ, abc</li>
            <li><i class="fa fa-phone" aria-hidden="true"></i>123456789</li>
            <li><i class="fa fa-envelope" aria-hidden="true"></i>xyz@gmail.com</li>
          </ul> 
        
  <!--   for social links -->
          <div class="social-media">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-google-plus-square"></i></a>
          </div> 
      </div>
    </div>
    
  <!--   Footer Bottom start  -->
    <div class="footer-bottom">
      Copyright &copy; Better Omagle 2023.
    </div>
  </div>
    
  <!--   Footer Bottom end -->
    
  <!--   FOOTER END -->
    
  </body> 