body {
    color: #666;
}

h1,h2,h3,h4,h5,h6 {
    color: #ffffff;
}

.l-box {
    padding: 1.5em;
}

.header .pure-menu {
    border-bottom-color:#666;
    border-radius: 0.5;
    background: #111;
}

.pure-menu-link {
    padding: 0.5em .4em;
}